This notebook introduces fundamental file operations in Python, covering reading, writing, and appending to various file formats: text, CSV, Excel, and JSON.
We'll explore different file modes, and efficient techniques using the with statement.

In [17]:
# opening a file in write mode
# if file already exists the content will be overwritten
file = open("file_1.txt", "w")
file.write("This a test write in txt file\n")
file.close()

In [18]:
# opening a file in read only  mode
file = open("file_1.txt", "r")
str1 = file.readline()
print(str1)
file.close()

This a test write in txt file

In [19]:
# opening a file in append  mode which writes at the end of the file
file = open("file_1.txt", "a")
file.write("this line should be the second one\n")
file.write("and this line should be the third one\n")
file.write("but this should be written at the end of the file\n")
file.close()

In [20]:
# opening file in read and write mode
file = open("file_1.txt", "r+")
with open("file_1.txt") as file: # open file with open() function and make alias name from filename (file)
    for line in file: # using for looping to read entire content line-by-line
        print(line.rstrip())
file.close()

This a test write in txt file
this line should be the second one
and this line should be the third one
but this should be written at the end of the file

In [21]:
# with is a mouch cleaner way to read the
with open("file_1.txt") as file:
    print(file.readlines())

['This a test write in txt file\n', 'this line should be the second one\n', 'and this line should be the third one\n', 'but this should be written at the end of the file\n']

In [22]:
with open("file_1.txt", "w") as file:
    file.write("This is how with statement used!")
    
with open("file_1.txt", "r") as file:    
    print(file.readlines())

['This is how with statement used!']

CSV Files
Creating a DataFrame:
Creates a Pandas DataFrame from a Python dictionary.

In [23]:
# creating data for reading csv files
data = {
    "Field Name": ["Zohr", "Noor", "Baltim South West", "Kareem", "Raven"],
    "Location": ["Mediterranean Sea", "Nile Delta", "Nile Delta", "Nile Delta", "Nile Delta"],
    "Discovery Year": [2015, 2015, 2017, 2018, 2019],
    "Gas Reserves (Billion Cubic Feet)": [850, 5 , 30, 15, 8],
    "Oil Reserves (Million Barrels)": [950, 8, 25, 11, 3]
}

data

{'Field Name': ['Zohr', 'Noor', 'Baltim South West', 'Kareem', 'Raven'],
 'Location': ['Mediterranean Sea',
  'Nile Delta',
  'Nile Delta',
  'Nile Delta',
  'Nile Delta'],
 'Discovery Year': [2015, 2015, 2017, 2018, 2019],
 'Gas Reserves (Billion Cubic Feet)': [850, 5, 30, 15, 8],
 'Oil Reserves (Million Barrels)': [950, 8, 25, 11, 3]}

In [24]:
#loading the data into a csv file
import pandas as pd
# first creating a Dataframe
df = pd.DataFrame(data)
df

,Field Name,Location,Discovery Year,Gas Reserves (Billion Cubic Feet),Oil Reserves (Million Barrels)
0,Zohr,Mediterranean Sea,2015,850,950
1,Noor,Nile Delta,2015,5,8
2,Baltim South West,Nile Delta,2017,30,25
3,Kareem,Nile Delta,2018,15,11
4,Raven,Nile Delta,2019,8,3

Writing to a CSV File:
Uses to_csv() to write the DataFrame to a CSV file.

In [25]:
# writing data from a dataframe to a csv file
df.to_csv("oil_Field.csv")

Reading from a CSV File:
Uses read_csv() to read the CSV file into a DataFrame.

In [26]:
# now opening the CSV file
csv_data = pd.read_csv("oil_Field.csv")
csv_data

,Unnamed: 0,Field Name,Location,Discovery Year,Gas Reserves (Billion Cubic Feet),Oil Reserves (Million Barrels)
0,0,Zohr,Mediterranean Sea,2015,850,950
1,1,Noor,Nile Delta,2015,5,8
2,2,Baltim South West,Nile Delta,2017,30,25
3,3,Kareem,Nile Delta,2018,15,11
4,4,Raven,Nile Delta,2019,8,3

In [27]:
# csv_data is a DataFrame datatype
# csv_data is a DataFrame datatype
type(csv_data)

pandas.core.frame.DataFrame

In [28]:
# selecting data from the dataframe
csv_data = csv_data.iloc[:,1:4]
csv_data

          Field Name           Location  Discovery Year
0               Zohr  Mediterranean Sea            2015
1               Noor         Nile Delta            2015
2  Baltim South West         Nile Delta            2017
3             Kareem         Nile Delta            2018
4              Raven         Nile Delta            2019

In [29]:
# Other ways to open csv files without using Pandas.
import csv
with open('oil_Field.csv', 'r') as file: # use "open" to read csv file. 
    reader = csv.reader(file)
    for row in reader:
        print(row)

['', 'Field Name', 'Location', 'Discovery Year', 'Gas Reserves (Billion Cubic Feet)', 'Oil Reserves (Million Barrels)']
['0', 'Zohr', 'Mediterranean Sea', '2015', '850', '950']
['1', 'Noor', 'Nile Delta', '2015', '5', '8']
['2', 'Baltim South West', 'Nile Delta', '2017', '30', '25']
['3', 'Kareem', 'Nile Delta', '2018', '15', '11']
['4', 'Raven', 'Nile Delta', '2019', '8', '3']

In [30]:
# Other ways to add data to csv files without using Pandas.
with open('oil_Field.csv', 'a', newline='') as file:
    writer = csv.writer(file)
    new_row = ["5","Zohr","Mediterranean Sea",2015,850,950]  # Example new row
    writer.writerow(new_row)

In [31]:
with open('oil_Field.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['', 'Field Name', 'Location', 'Discovery Year', 'Gas Reserves (Billion Cubic Feet)', 'Oil Reserves (Million Barrels)']
['0', 'Zohr', 'Mediterranean Sea', '2015', '850', '950']
['1', 'Noor', 'Nile Delta', '2015', '5', '8']
['2', 'Baltim South West', 'Nile Delta', '2017', '30', '25']
['3', 'Kareem', 'Nile Delta', '2018', '15', '11']
['4', 'Raven', 'Nile Delta', '2019', '8', '3']
['5', 'Zohr', 'Mediterranean Sea', '2015', '850', '950']

Excel Files
 Writing to an Excel File:
  Uses to_excel() to write the DataFrame to an Excel sheet.

In [32]:
# writing the data to  a sheet oil_Field_1 in an excel file 
df.to_excel("oil_Field_1.xls", sheet_name="oil_Field", engine='openpyxl')

In [33]:
# Reading excel file with sheet oil_Field
xls_data = pd.read_excel("oil_Field_1.xls", sheet_name="oil_Field")
xls_data

,Unnamed: 0,Field Name,Location,Discovery Year,Gas Reserves (Billion Cubic Feet),Oil Reserves (Million Barrels)
0,0,Zohr,Mediterranean Sea,2015,850,950
1,1,Noor,Nile Delta,2015,5,8
2,2,Baltim South West,Nile Delta,2017,30,25
3,3,Kareem,Nile Delta,2018,15,11
4,4,Raven,Nile Delta,2019,8,3

JSON Files
    Writing to a JSON File:
    Uses to_json() to write the DataFrame to a JSON file.

In [34]:
#writing data to a json fi;e
df.to_json('oil_Field.json')

In [35]:
# reading the data from the json file
emp= pd.read_json("oil_Field.json")
emp

,Field Name,Location,Discovery Year,Gas Reserves (Billion Cubic Feet),Oil Reserves (Million Barrels)
0,Zohr,Mediterranean Sea,2015,850,950
1,Noor,Nile Delta,2015,5,8
2,Baltim South West,Nile Delta,2017,30,25
3,Kareem,Nile Delta,2018,15,11
4,Raven,Nile Delta,2019,8,3

In [36]:
# loading a json  string to file
import json
oil_json ="""
{
  "country": "Egypt",
  "oil_reserves": {
    "proven": 4.4, 
    "probable": 1.2,
    "possible": 0.8
  },
  "gas_reserves": {
    "proven": 74,
    "probable": 20,
    "possible": 10
  },
  "major_oil_fields": [
    "Suez Canal",
    "Western Desert",
    "Gulf of Suez"
  ],
  "major_gas_fields": [
    "Zohr",
    "Nooros",
    "Baltim South West"
  ]
}
"""
fields_data = json.loads(oil_json)
fields_data

{'country': 'Egypt',
 'oil_reserves': {'proven': 4.4, 'probable': 1.2, 'possible': 0.8},
 'gas_reserves': {'proven': 74, 'probable': 20, 'possible': 10},
 'major_oil_fields': ['Suez Canal', 'Western Desert', 'Gulf of Suez'],
 'major_gas_fields': ['Zohr', 'Nooros', 'Baltim South West']}

In [37]:
json_data = json.dumps(data)
json_data

'{"Field Name": ["Zohr", "Noor", "Baltim South West", "Kareem", "Raven"], "Location": ["Mediterranean Sea", "Nile Delta", "Nile Delta", "Nile Delta", "Nile Delta"], "Discovery Year": [2015, 2015, 2017, 2018, 2019], "Gas Reserves (Billion Cubic Feet)": [850, 5, 30, 15, 8], "Oil Reserves (Million Barrels)": [950, 8, 25, 11, 3]}'